$gray: #54646d;
$dark-gray: #2d2d2d;
$light-gray: #f5f5f5;
$white: #ffffff;

$yellow: #f9d71c;
$light-yellow: #fde976;
$lighter-yellow: #fff8d7;
$darker-yellow: #534704;

$blue: #00a8ff;
$light-blue: #00d4ff;
$lighter-blue: #b3ecff;
$darker-blue: #006073;

$red: #ff3b30;
$light-red: #ff453a;
$lighter-red: #ff5b50;
$darker-red: #b22a1f;
