@import '../../styles/colors';

.typography {
  font-family: sans-serif;
  font-weight: 400;
  color: $gray;

  padding: 5px;

  &--bold {
    font-weight: 600;
  }

  &--light {
    font-weight: 200;
  }

}